.main {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-side-map {
  width: 420px;
  z-index: 1;
}

.main-map {
  width: calc(100vw - 840px);
  z-index: 0;
}

.main-side-chat {
  width: 420px;
  position: fixed;
  right: 0;
  z-index: 1;
}
