.map-pagination {
  display: flex;
  height: 50px;
  color: #f76e11;
  list-style-type: none;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.page-item {
  margin-right: 5px;
  margin-top: 10px;
  height: 30px;
  width: 30px;
  text-align: center;
  align-items: center;
}

.page-link {
  text-decoration: none;
  text-align: center;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  color: #f76e11;
  padding: 5px 10px;
}

.page-item:hover .page-link {
  /*page-item:hover 시 page-link의 style*/
  color: white;
  background-color: #f76e11;
  border-radius: 8px;
  transition: background-color 0.3s;
}
